<% include partials/header.ejs %>


<div class="child_div" style="background-image:url(images/img1.png);">
<div class="form_div">
   
	 <div class="form_header"> 
		<h1>Hey!</h1>

		<div class="content">
			<p>I am Ayesha Azim, I have recently graduated from highschool the previous year and am currently doing an advanced diploma in Artificial intelligence at the Centennial College. Studying about the computer sciences, robotics and artificial intelligence is something that facinates me which is why i have taken up this course. I aim to become a successful computer programmer. I am a person who is positive about every aspect of life and am looking forward for a wonderful experience at the centennial college. :)</p>

      <br>

      <img class="id" src="images/Photo.jpg" width="150" height= "160">

		<br>
    <br>
    <br>
    
    <div class="footer">
			<footer>
				<p>©Copyright2021 Ayesha Azim | 301166757 | Fall 2021 | Comp229</p>
			</footer>
		</div>
			
		</div>
		
		
	</div>	
	</div>
	
	</div>

    
   
  <% include partials/footer.ejs %>   





