<% include partials/header.ejs %>


<div class="child_div" style="background-image:url(images/img1.png);">
<div class="form_div">
   
	 <div class="form_header"> 
		<h1>Hey! <br> Welcome to <%= title %></h1>

		<div class="content" >
			<p>I am Ayesha Azim, This is my Portfolio website where I will talk more about myself! I am a Junior Web Developer and it gives me immense pleasure to welcome you to my website :)</p>

			<br>
			<hr>
			<br>
			<blockquote>“In order to be irreplaceable, one must always be different”</blockquote>
			<blockquote>-Coco Chanel</blockquote>
			<br>
		<div class="footer">
			<footer>
				<p>©Copyright2021 Ayesha Azim | 301166757 | Fall 2021 | Comp229</p>
			</footer>
		</div>
			
		</div>
		
		
	</div>	
	</div>
	
	</div>

    
   
  <% include partials/footer.ejs %>   





