<% include partials/header.ejs %>


<div class="child_div" style="background-image:url(Assets/images/img1.png);">
<div class="form_div">
   
	 <div class="form_header"> 
		<h1><%= title %> Provided</h1>

		<div class="content">

			<table class="services">
				
				  <td class="projServices"><img src="Assets/images/Service1.png" width="100%" height= "100%" ></td>
				  <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
					  <h3><b>Junior Web Developer</b></h3>
					  <ul><li>Develop websites using html, css, javascript, node.js, express.js etc</li><li>Launch websites using platforms like Azure, Google App Engine, Heroku </li><li>Experienced in working with git</li></ul>
				  </td>
				</tr>
				<tr>
				  <td class="projServices"><img src="Assets/images/Service2.png" width="100%" height= "100%"></td>
				  <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
					<h3>Software Engineer</h3>
					<ul><li>Architectural Software design</li><li>Requirement Analyst</li><li>Software Design Testing</li></ul></td>
				</tr>
				<tr>
				  <td class="projServices"><img src="Assets/images/Service3.png" width="100%" height= "100%"></td>
				  <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
					<h3>Computer Programmer</h3>
				<p><ul><li>Program a variety of applications in multiple languages such as C#, Javascript, Java and Python using Object Oriented, Class based approach. </li></ul></p>
				</td>
				</tr>
				<tr>
					<td class="projServices"><img src="Assets/images/Service4.png" width="100%" height= "100%"></td>
					<td style="font-size: 20px; color: #F9F3DF; border-style: none;">
					  <h3>Database Managementn</h3>
				  <p><ul><li>Develop and work with databases like mongoose,mongodb, Oracle database. <li></li> Write SQL queries to manage the databases</li></ul></p>
				  </td>
				  </tr>
				  
			</table>
        </div>
        
        <br />

		<br>
    <br>
    <br>
    
    <div class="footer">
			<footer>
				<p>©Copyright2021 Ayesha Azim | 301166757 | Fall 2021 | Comp229</p>
			</footer>
		</div>
			
		</div>
		
		
	</div>	
	</div>
	
	</div>

  <% include partials/footer.ejs %>   
